.justify-content-center{
    justify-content: space-around;
}
.d-flex{
    display: flex;
}

.f-wrap{
    flex-wrap: wrap;
}
.justify-content-between{
    justify-content: space-between;
}
.align-items-center{
    align-items: center;
}