body {
    font-size: 16px;
    font-family: Open Sans;
    line-height: 1.5;
    font-weight: 400;
    text-decoration: none;
    background: whitesmoke;
}

ul {
    list-style: none;
    padding: 0;
}

.container {
    display: flex;
    width: 1200px;
    margin: 0px auto;
}

.m-right {
    margin-right: 750px;
}

/* =========================== HEADER ============================ */

#header {
    background: #008fde;
    padding-top: 5px;
    padding-bottom: 20px;
}

/* ------------------------ Main-Menu ------------------------ */

nav {
    flex: 100%;
    margin-bottom: 10px;
}

ul#main-menu li a {
    display: block;
    color: #ffffff;
    font-size: 13px;
    line-height: 1.2;
    padding: 0px 10px;
    border-right: 2px solid hsla(0, 0%, 100%, .22);
}

ul#main-menu li:last-child a {
    border-right: none;
}

/* ------------------------ Logo-Search-Cart ------------------------ */

/* --------------- Logo -------------- */

#logo {
    flex: 13%;
}

#logo img {
    max-width: 100%;
    height: auto;
}

/* --------------- Search -------------- */

#search-frame {
    padding-left: 38px;
    flex: 82%;
    display: flex;
    flex-wrap: wrap;
    align-content: space-around;
}

form#search {
    position: relative;
}

form#search input {
    background: #fff;
    border: none;
    outline: none;
    padding: 10px 690px 10px 10px;
    border-radius: 2px;
}

form#search button {
    position: absolute;
    top: 4px;
    right: 4px;
    background: #008fde;
    border: none;
    padding: 6px 30px 6px 30px;
    color: #fff;
    border-radius: 2px;
}

.fa-search {
    font-size: 14px;
}

/* --------------- Cart -------------- */

#cart-frame {
    flex: 10%;
    display: flex;
    flex-wrap: wrap;
    align-content: space-around;
    padding-left: 40px;
}

form#cart button {
    background: #008fde;
    border: none;
    outline: none;
}

.fa-shopping-cart {
    color: white;
    font-size: 23px;
}

/* =============================== WP-Banner =============================== */

#wp-banner {
    margin-top: 0px;
}

#wp-banner a.item {
    display: block;
    padding-left: 29px;
    padding-right: 29px;
    padding-bottom: 29px;
    padding-top: 10px;
}

#wp-banner a.item img {
    border-radius: 4px;
}

/* =============================== WP-Category =============================== */

#wp-category {
    margin-top: 30px;
    background: #fff;
    border-radius: 3px;
}

/* ---------------------- category-products > #category-vietnamese ------------- */

#category-vietnamese {
    flex: 100%;
    font-size: 18px;
    padding: 15px;
    font-weight: 400;
    color: #008fde;
    text-transform: uppercase;
}

/* ---------------------- category-products > ul#list-category ------------------ */

#category-products {
    flex: 100%;
}

ul#list-category {
    margin: 0;
    display: flex;
    flex-direction: row;
}

ul#list-category li {
    flex-basis: 10%;
    border-left: 1px solid rgba(0, 0, 0, .05);
    border-right: 1px solid rgba(0, 0, 0, .05);
    border-top: 1px solid rgba(0, 0, 0, .05);
    border-bottom: 1px solid rgba(0, 0, 0, .05);
    padding-bottom: 10px;
}

ul#list-category li:hover {
    background: #F8F8FF;
    border-left: 1px solid rgba(0, 0, 0, .1);
    border-right: 1px solid rgba(0, 0, 0, .1);
    border-top: 1px solid rgba(0, 0, 0, .1);
    border-bottom: 1px solid rgba(0, 0, 0, .1);
    transition: all 0.3s;
}

ul#list-category li:hover a>.category-title {
    color: #008fde;
    transition: all 0.2s;
}

ul#list-category li a {
    display: block;
    text-decoration: none;
}

ul#list-category li>a>.category-thumb {
    padding: 20px;
}

ul#list-category li>a>.category-thumb img {
    max-width: 100%;
    height: auto;
}

ul#list-category li>a>.category-title {
    font-size: 13.5px;
    /* font-weight: 400; */
    text-transform: capitalize;
    text-align: center;
    color: rgba(0, 0, 0, 0.8);
}

/* ================================= WP-Trending ================================= */

#wp-trending {
    background: #fff;
    margin-top: 30px;
    border-radius: 20px;
}

/* -------------------------- trending title ------------------------ */

#trending-title {
    flex: 100%;
    display: flex;
    justify-content: space-between;
}

.trending-vietnamese {
    font-size: 18px;
    padding: 15px;
    color: #008fde;
    text-transform: uppercase;
}

.trending-more {
    padding: 15px;
    font-size: 13px;
}

.trending-more:hover {
    text-decoration: none;
}

/* -------------------------- trending products ------------------------ */

#trending-products {
    flex: 100%;
}

ul#list-trending {
    display: flex;
    margin-bottom: 0;
}

ul#list-trending li {
    flex-basis: 20%;
    /* border-left: 1px solid rgba(0,0,0,.05); */
    border-right: 1px solid rgba(0, 0, 0, .05);
    border-top: 1px solid rgba(0, 0, 0, .05);
    /* border-bottom: 1px solid rgba(0,0,0,.05); */
}

ul#list-trending li:last-child {
    border-right: none;
}

ul#list-trending li:hover {
    background: #F8F8FF;
}

ul#list-trending li:hover a {
    text-decoration: none;
    color: #008fde;
}

ul#list-trending li a {
    display: flex;
    padding: 20px;
    color: rgba(0, 0, 0, 0.8);
    font-size: 14.5px;
}

ul#list-trending li a>.trending-title {
    flex-basis: 50%;
    padding-top: 10%;
}

ul#list-trending li a>.trending-thumb {
    flex-basis: 50%;
}

ul#list-trending li a>.trending-thumb img {
    max-width: 100%;
    height: auto;
}

/* =================================== WP-product-main ==================================== */

/* -------------------------------- product title ------------------------------- */

#wp-product-main {
    margin-top: 30px;
    background: #fff;
}

#product-name {
    flex: 100%;
}

#product-name .product-vietnamese {
    font-size: 18px;
    padding: 15px;
    color: #008fde;
    text-transform: uppercase;
}

/* -------------------------------- product main ------------------------------- */

#product-main {
    flex: 100%;
    background: whitesmoke;
}

ul#list-product {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 15px;
    position: relative;
}

ul#list-product li {
    flex-basis: 15%;
    background: #fff;
    margin-bottom: 20px;
}

ul#list-product li:hover {
    position: relative;
    top: -4px;
    left: 0;
    border: 1px solid #008fde;
}

ul#list-product li:hover a {
    text-decoration: none;
}

ul#list-product li a {
    display: block;
    font-size: 13px;
    padding-bottom: 10px;
    border-left: 1px solid rgba(0, 0, 0, .05);
    border-right: 1px solid rgba(0, 0, 0, .05);
    border-top: 1px solid rgba(0, 0, 0, .05);
    border-bottom: 1px solid rgba(0, 0, 0, .05);
}

ul#list-product li a .product-thumb img {
    max-width: 100%;
    height: auto;
}

ul#list-product li a .product-title {
    text-align: center;
    color: rgba(0, 0, 0, 0.8);
    text-transform: capitalize;
}

ul#list-product li a .sale {
    padding: 10px;
}

ul#list-product li a .more-info {
    display: flex;
    justify-content: space-around;
}

ul#list-product li a .more-info .price {
    font-size: 15px;
    color: #008fde;
    font-weight: 600;
}

ul#list-product li a .more-info .sold {
    font-size: 14px;
    color: rgba(0, 0, 0, .54);
}

/* ========================================== WP-footer ==================================== */

#wp-footer {
    margin-top: 150px;
    padding-top: 50px;
    padding-bottom: 15px;
    background-color: #008fde;
}

.box-head h3 {
    margin-bottom: 0;
}

#logo-footer {
    flex-basis: 200px;
    margin-right: 70px;
}

#logo-footer .box-head {
    margin-bottom: 45px;
}

#logo-footer .box-head h3 {
    color: #008fde;
    /* margin-bottom: 40px; */
}

#logo-footer .box-body img {
    max-width: 100%;
    height: auto;
}

#contacts {
    flex-basis: 550px;
}

#contacts .box-head {
    margin-bottom: 50px;
}

#contacts .box-head h3 {
    font-size: 18px;
    font-weight: 600;
    color: #fff;
    text-transform: uppercase;
}

#contacts .box-body #list-contacts li a {
    color: #fff;
    font-size: 14px;
}

#follow-us {
    flex: 200px;
}

#follow-us .box-head {
    margin-bottom: 50px;
}

#follow-us .box-head h3 {
    font-size: 18px;
    font-weight: 600;
    color: #fff;
    text-transform: uppercase;
}

#list-social li:not(:last-child) {
    margin-right: 10px;
}

#list-social li a {
    display: block;
    background-color: #66CCCC;
    color: #fff;
}

.fa-facebook-f {
    padding: 9px 12px;
}

.fa-instagram {
    padding: 9px 10px;
}

.fa-youtube {
    padding: 9px 8px;
}

.fa-pinterest-p {
    padding: 9px 11px
}

#list-social li:hover .fa-facebook-f {
    color: #4267b2;
    transition: all 0.5s;
}

#list-social li:hover .fa-instagram {
    color: #8a3ab9;
    transition: all 0.5s;
}

#list-social li:hover .fa-youtube {
    color: #EA4335;
    transition: all 0.5s;
}

/* ----------------------------------- Scroll top ---------------------------------- */

#back-top {
    width: 50px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    background: #008fde;
    color: #fff;
    border-radius: 50%;
    position: fixed;
    bottom: 40px;
    right: 1px;
    z-index: 99999999999;
}


















